*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General commons */

.flex
{
    display: flex;
    justify-content: center;
}


body
{
    background-color: #b91450;
}

h2 
{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
}

.calcola-prezzo
{
    margin: 0 auto;
    height: 200px;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
   
}

label
{
    color: #b91450;
    font-size: 18px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

input
{
    border-radius: 5px;
    height: 30px;
    box-shadow: none;
}

.m-4
{
    margin: 0 50px;
}

select
{
    background-color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

.btn
{
    text-align: center;
}

.btn button
{
    font-size: 20px;
    color: #b91450;
    margin: 40px 20px;
    padding: 5px;
}